<div class="flex flex-col gap-1">
  <!-- Add Product Button -->
  <button
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-xl self-end my-4"
    (click)="openAddDialog()"
  >
    Add New Product
  </button>

  <!-- Products section -->
  <div class="flex flex-row flex-wrap gap-1 justify-between">
    <app-product
      *ngFor="let product of products"
      [product]="product"
      (update)="openUpdateDialog($event)"
      (delete)="openDeleteDialog($event)"
    ></app-product>
  </div>

  <!-- Paginator -->
  <div class="flex flex-row gap-3 mt-5 self-center">
    <button
      type="button"
      *ngFor="let pageNum of pagesNumbers"
      class="w-9 aspect-square rounded-lg border-none overflow-hidden"
      (click)="onPageChange(pageNum)"
    >
      <span
        *ngIf="currentPage === pageNum; else elseBlock"
        class="bg-purple-500 flex w-full h-full items-center justify-center font-semibold text-white"
      >
        {{ pageNum }}
      </span>
      <ng-template #elseBlock>
        <span
          class="bg-purple-300 w-full h-full flex items-center justify-center font-semibold"
        >
          {{ pageNum }}
        </span>
      </ng-template>
    </button>

    <label for="perPage" class="flex gap-1 text-nowrap items-center">
      Per Page
      <select
        name="perPage"
        id="perPage"
        class="px-3 py-2 w-full border rounded-md shadow-sm focus:outline-none focus:ring-1 focus:ring-purple-600"
        (change)="onChangePerPage($event.target)"
      >
        <option value="5" selected>5</option>
        <option value="8">8</option>
        <option value="10">10</option>
        <option value="13">13</option>
        <option value="15">15</option>
      </select>
    </label>
  </div>

  <!--Update Product-->
  <app-product-modal
    [selectedProduct]="selectedProduct"
    title="Edit Product"
    [(display)]="displayEditDialog"
    (confirm)="onConfirmUpdate($event)"
  ></app-product-modal>

  <!--Add Product-->
  <app-product-modal
    title="Add new Product"
    [(display)]="displayAddDialog"
    (confirm)="onConfirmAdd($event)"
  ></app-product-modal>
</div>
